[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/
Recordings/
sysinfo.txt
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.suo
*.user
*.userprefs
*.stackdump
*.log
*.dmp
*.crash
.vs/
.vscode/
.idea/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.userosscache
*.sln.docstates
ExportedObj/
.consulo/
*.apk
*.aab
*.unitypackage
*.asset
*.importedAssets
*.tmp
*.bak
*.bak.meta
Assets/AssetStoreTools*
Build/
Builds/
[Bb]in/
[Dd]ebug*/
[Rr]elease*/
*.xcodeproj
*.xcworkspace
*.xcuserstate
[Aa]ssetBundles/
[Aa]ssetBundles.meta
AddressablesBuildTEP.json
AddressablesBuildTEP*
CollabSnapshot/
PlasticSCM/
.crash/
*.ncrunchsolution
*.ncrunchproject
*.unityPackageManager
*.utr
*.stacktrace
*.diff
*.orig
Thumbs.db
Desktop.ini
